<div class="contMain w-[40vw] h-[40vh] flex justify-center content-center place-self-center">
    <div class="e-card playing flex justify-center content-center">
        <div class="wave "></div>
        <div class="wave "></div>
        <div class="wave "></div>
        
        <div class="w-70% max-h-50% flex flex-col justify-evenly content-center !text-white">
            <button class="Btn">
                <i class="fa-solid fa-envelope svgIcon"></i>
                <span class="text">{{'dineshrameshhere@gmail.com'}}</span>
            </button>
            <button class="Btn">
                <i class="fa-solid fa-phone-volume svgIcon"></i>
                <span class="text">+91 8072081284</span>
            </button>
            <button class="Btn">
                <i class="fa-brands fa-linkedin svgIcon"></i>
                <span class="text">https://www.linkedin.com/in/<br>dinesh-ramesh-3769a3194/</span>
            </button>
            <button class="Btn">
                <i class="fa-brands fa-linkedin svgIcon"></i>
                <span class="text">https://github.com/gitDineshRamesh</span>
            </button>
            
        </div>
    </div>
    <!-- <section class="container">
        <div class="card-container">
            <div class="card-content">
                <div class="card-title">
                    <span class="title">Contact</span>
                </div>
                <div class="card-body" (click)="showLink($event)">
                    <div class="svg-card linkclass" data-link="dineshrameshhere@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="svg-card linkclass" data-link="+91 8072081284">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <div class="svg-card linkclass" data-link="https://www.linkedin.com/in/dinesh-ramesh-3769a3194/">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div class="svg-card linkclass" data-link="https://github.com/gitDineshRamesh">
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="ftitle">{{selectedLink}}</span>
                </div>
            </div>
        </div>
    </section> -->
</div>