<div class="parent">
  <div class="expmain">
    <div class="card"  *ngFor="let exp of experienceDetails" [attr.data-name]="exp.header">
   <div class="content">
     <div class="back">
       <div class="back-content">
         <strong>{{exp.header}}</strong>
       </div>
     </div>
     <div class="front">
       <div class="front-content">
         <div class="description">
           <p *ngFor="let det of exp.details.split('*')">
             {{det}}
           </p>
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>
 
</div>
